<!DOCTYPE html>
<html>
    <head>
        <title>Configuration Demo</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" />
    </head>
    <body>
        <div class="container">
            <h1>Home</h1>
            <div class="box">
                @ViewBag.MyKey
            </div>
            <div class="box">
                @ViewBag.Api
            </div>
            <div class="box">
                @ViewBag.Api_key
            </div>
        </div>
    </body>
</html>